@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Resettings */
* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 1%;
	box-sizing: border-box;
}

/* Colors */
:root {
	/* Primary */
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);
	/* Neutral */
	--very-dark-blue: hsl(234, 12%, 34%);
	--grayish-blue: hsl(229, 6%, 66%);
	--very-light-gray: hsl(0, 0%, 98%);
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--very-light-gray);
}

header {
	height: 30%;
	color: var(--very-dark-blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-weight: 200;
}

h1, h2 {
	font-size: 2vw;
}

.header-description {
	color: var(--grayish-blue);
	width: 32%;
	font-size: 0.9vw;
	text-align: center;
	margin: 1% 0;
}

.cards-container {
	height: 70%;
	display: flex;
	justify-content: center;
}

.card-column {
	width: 23%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card {
	background-color: white;
	border-top-style: solid;
	border-top-width: 0.5vh;
	border-radius: 5px;
	box-shadow: 0 10px 20px -10px var(--grayish-blue);
	margin: 4%;
	height: calc((1/2) * 55%);
	position: relative;
	padding: 10%;
	transition: 0.2s;
}

.card:hover {
	transform: scale(1.1);
}

.card-title {
	font-size: 1vw;
}

.card-description {
	font-size: 0.8vw;
	color: var(--grayish-blue);
	margin-top: 3%;
}

.card-icon {
	position: absolute;
	bottom: 10%;
	right: 10%;
	width: 20%;
}

.red-border {
	border-color: var(--red);
}

.cyan-border {
	border-color: var(--cyan);
}

.orange-border {
	border-color: var(--orange);
}

.blue-border {
	border-color: var(--blue);
}

/* Portrait view */
@media screen and (orientation: portrait) {
	body {
		padding-top: 20%;
	}

	h1, h2 {
		font-size: 4vh;
	}

	.header-description {
		width: 100%;
		font-size: 2.6vh;
	}

	.cards-container {
		flex-direction: column;
		flex: 1;
		height: 100%;
		margin-top: 40vh;
	}

	.card-column {
		width: 100%;
	}

	.card {
		padding: 10%;
		height: 100%;
		height: 25vh;
		border-width: 1vh;
	}

	.card-title {
		font-size: 3.5vh;
	}

	.card-description {
		font-size: 2.2vh;
	}
	
	.card-icon {
		width: 15%;
	}
}
